<h1 class="text-center"><%= @cocktail.name %> </h1>

<div class="text-center">
  <h3><strong>Doses</strong></h3>
</div>

<div class="text-center">
  <ul>
    <% @cocktail.doses.each do |dose| %>
    <li>
      <p><%= dose.description %></p>
      <p><%= dose.ingredient.name %></p>
    </li>
    <%= link_to 'Delete dose', dose_path(dose), method: :delete %>
    <% end %>
  </ul>
</div>

<div class="text-center">
<p>
  <%= link_to 'Add dose', new_cocktail_dose_path(@cocktail), class: 'btn btn-danger' %>
</p>
<p>
  <%= link_to "Edit Cocktail", edit_cocktail_path(@cocktail), class: 'btn btn-danger' %>
</p>
<p>
  <%= link_to 'Back', cocktails_path, class: 'btn btn-danger' %>
</p>
</div>
